.styled-table {
    border-collapse: collapse;
    margin: 15px 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 12, 0, 0.15);
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.h {
    PADDING: 1px 0px 0px 0px;
    MARGIN: 0px 0px 0px 0px;
    BORDER-TOP: red 1px solid;
}

.l {
    PADDING: 1px 0px 0px 0px;
    MARGIN: 0px 0px 0px 0px;
    BORDER-BOTTOM: red 1px solid;
}

.h2l {
    PADDING: 1px 0px 0px 0px;
    MARGIN: 0px 0px 0px 0px;
    BORDER-TOP: red 1px solid;
    BORDER-RIGHT: red 1px solid;
}

.l2h {
    PADDING: 1px 0px 0px 0px;
    MARGIN: 0px 0px 0px 0px;
    BORDER-BOTTOM: red 1px solid;
    BORDER-RIGHT: red 1px solid;
}

h1 {
    color: #009879;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}